[user]
  name = Boris Ruf
  email = github@borisruf.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCHWXNZMbdaHEYsTB91KQX73oKRASopP7a8o3pSAjWQ

[gpg]
  format = ssh

[gpg "ssh"]
  # macOS
  #program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  # WSL2 on Windows 11
  program = "/mnt/c/Users/boru9175/AppData/Local/1Password/app/8/op-ssh-sign.exe"

[commit]
  gpgsign = true

[core]
  # macOS
  #sshCommand = ssh
  # WSL2 on Windows 11
  sshCommand = ssh.exe
